* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  color: black;
}

.section {
  /* background-color: red;*/
}

.container {
  --variableName: 24px;
  max-width: calc(1200px + 2 * var(variableName));
  margin-inline: auto;
  padding-inline: 24px;
  padding: 8px 24px;
}

.wrapper {
  /* background-color: blue;*/
  /* padding-top: 64px;
  padding-bottom: 24px; */
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav .nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
}

.nav {
  background-color: rgb(41, 53, 112);
  color: white;
  font-weight: 700;
  height: 90px;
}

.nav__menu,
.nav__logo {
  /* color: white; */
}

.nav .container {
  /*background-color: black;*/
}
.navBar__logo {
  height: 30px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.button {
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 100px;
  color: black;
}
