.protofolio_header_detail .active {
    color: #FF6464;
}

.main_work_body{
    margin: 0 auto;
    margin-bottom: 18px;
    width: 682px;
}

.main_work_body > span {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 14px;
}

/*body*/
.main_work_body {
    max-width: 682px;
    margin: 0 auto;
    margin-top: 15px;
}

.main_fetured_card:nth-child(2){
    padding-top: 41px;
    padding-bottom: 34px;
}

.main_fetured_card:nth-child(3){
    padding-top: 41px;
    padding-bottom: 34px;
}

.main_fetured_card:nth-child(4){
    padding-top: 43px;
    margin-bottom: 58px;
}


.main_fetured_card .main_fetured_image{
    border-radius: 6px;
    padding: 15px 18px 15px 0px;
}

.main_fetured_card {
    display: flex;
}
/*main_feture_card*/
.main_fetured_card{
    border-bottom: 1px solid #E0E0E0;;
}


.main_fetured_description > span{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.main_card_locale{
    margin-top: 2px;
    margin-bottom: 5px;
}

.main_card_locale > span:first-child{
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    padding: 2px 10px 2px;
    margin-right: 26px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;

    color: #FFFFFF;
}

.main_card_locale > span:last-child{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #8695A4;
}

.main_fetured_description > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #21243D;
}

/*Work Detail CSS*/

.work_detail_body_wrap{
    max-width: 681px;
    margin: 0 auto;
}

.work_detail_class > span{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
    margin-bottom: 14px;
}

.work_detail_explain{
    display: flex;
}

.work_detail_explain span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 25px;
    background: #FF7C7C;
    border-radius: 16px;

    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    
    margin-right: 17px;
}

.work_detail_explain span:last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.work_detail_class > p{
    display: block;
    margin-top: 13px;
    margin-bottom: 46px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.work_detail_class .rectangle_board{
    margin-bottom: 54px;
}

.heading_main_wrap{
    display: flex;
    flex-direction: column;
}

.heading_main_wrap .heading_main_titie{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #21243D; 
}

.heading_main_wrap .heading_main_butitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;

    color: #21243D;
}

.heading_main_wrap > p {
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

    margin-bottom: 30px;
}

.heading_main_wrap .rectangle_car{
    margin-bottom: 27px;
}

.heading_main_wrap .rectangle_order{
    margin-bottom: 27px;
}